<script setup>
import { hexToRgb } from '@layouts/utils';
import { useTheme } from 'vuetify';
import { useGlobalStore } from './store';
import { useRouter } from 'vue-router';

const { global } = useTheme()
const store = useGlobalStore();
const router = useRouter();

const storedToken = localStorage.getItem('authToken');
const storedUser = localStorage.getItem('authUser');

if (storedToken && storedUser) {
  store.addAuth(JSON.parse(storedUser), storedToken);
}

if (!store.auth.user) {
  router.push('/login');
}

</script>

<template>
  <VApp :style="`--v-global-theme-primary: ${hexToRgb(global.current.value.colors.primary)}`">
    <RouterLink to="/dashboard" />
    <RouterView />

  </VApp>
</template>

<script>

</script>
