<script setup>
import HashtagUpdate from '@/views/pages/tables/HashtagUpdate.vue'
import { useRouter } from 'vue-router';
import { onMounted, watch } from 'vue';

const router = useRouter();

</script>

<template>``
    <VRow>
        <VCol cols="12">
            <VCard title="Hashtag Update">
                <HashtagUpdate />
            </VCard>
        </VCol>
    </VRow>
</template>
