<script setup>
import Hashtag from '@/views/pages/tables/Hashtag.vue'
</script>

<template>
  <VRow>
    <VCol cols="12">
      <VCard title="Hashtag list">
        <Hashtag />
      </VCard>
    </VCol>
  </VRow>
</template>
