<script setup>
import HashtagCreate from '@/views/pages/tables/HashtagCreate.vue'
</script>

<template>
  <VRow>
    <VCol cols="12">
      <VCard title="Create Hashtag">
        <HashtagCreate />
      </VCard>
    </VCol>
  </VRow>
</template>
