<script setup>
import Report from '@/views/pages/tables/Report.vue'
</script>

<template>
  <VRow>
    <VCol cols="12">
      <VCard title="Users List">
        <Report />
      </VCard>
    </VCol>
  </VRow>
</template>
