<script setup>
import UserAdminUpdate from '@/views/pages/tables/UserAdminUpdate.vue'
import { useRouter } from 'vue-router';
import { onMounted, watch } from 'vue';

const router = useRouter();

</script>

<template>
    <VRow>
        <VCol cols="12">
            <VCard title="Admin Update">
                <UserAdminUpdate />
            </VCard>
        </VCol>
    </VRow>
</template>
