<script setup>
import UserPermissionUpdate from '@/views/pages/tables/UserPermissionUpdate.vue'
import { useRouter } from 'vue-router';
import { onMounted, watch } from 'vue';

const router = useRouter();


</script>

<template>
    <VRow>
        <VCol cols="12">
            <VCard title="Permission Update">
                <UserPermissionUpdate />
            </VCard>
        </VCol>
    </VRow>
</template>
