<script setup>
import UserPermissionCreate from '@/views/pages/tables/UserPermissionCreate.vue'
</script>

<template>
  <VRow>
    <VCol cols="12">
      <VCard title="Permission Add">
        <UserPermissionCreate />
      </VCard>
    </VCol>
  </VRow>
</template>
