<script setup>
import UserAdminList from '@/views/pages/tables/UserAdminList.vue'
</script>

<template>
  <VRow>
    <VCol cols="12">
      <VCard title="Users List">
        <UserAdminList />
      </VCard>
    </VCol>
  </VRow>
</template>
