<script setup>
import UserRolesUpdate from '@/views/pages/tables/UserRolesUpdate.vue'
import { useRouter } from 'vue-router';
import { onMounted, watch } from 'vue';

const router = useRouter();


</script>

<template>
    <VRow>
        <VCol cols="12">
            <VCard title="Role Update">
                <UserRolesUpdate />
            </VCard>
        </VCol>
    </VRow>
</template>
