<script setup>
import UserList from '@/views/pages/tables/UserList.vue'
</script>

<template>
  <VRow>
    <VCol cols="12">
      <VCard title="Users List">
        <UserList />
      </VCard>
    </VCol>
  </VRow>
</template>
