<script setup>
import UserPermissions from '@/views/pages/tables/UserPermissions.vue'
</script>

<template>
  <VRow>
    <VCol cols="12">
      <VCard title="Permissions list">
        <UserPermissions />
      </VCard>
    </VCol>
  </VRow>
</template>
