<script setup>
import UserRoles from '@/views/pages/tables/UserRoles.vue'
</script>

<template>
  <VRow>
    <VCol cols="12">
      <VCard title="Roles list">
        <UserRoles />
      </VCard>
    </VCol>
  </VRow>
</template>
