<script setup>
import UserRolesCreate from '@/views/pages/tables/UserRolesCreate.vue'
</script>

<template>
  <VRow>
    <VCol cols="12">
      <VCard title="Permission Add">
        <UserRolesCreate />
      </VCard>
    </VCol>
  </VRow>
</template>
