<script setup>
import VideoList from '@/views/pages/tables/VideoList.vue'
</script>

<template>
  <VRow>
    <VCol cols="12">
      <VCard title="Videos List">
        <VideoList />
      </VCard>
    </VCol>
  </VRow>
</template>
