<script setup>

const props = defineProps({
    buttonText: String,
    buttonColor: String,
})

</script>

<template>
    <VForm @submit.prevent="() => { }">
        <VRow>
            <VCol offset-md="3" cols="12" md="9" class="d-flex gap-4">
                <VBtn type="submit" class="ml-auto custom-button">
                    {{ buttonText }}
                </VBtn>
            </VCol>
        </VRow>
    </VForm>
</template>

<style scoped>
.custom-button {
    min-width: 120px;
    padding: 10px 20px;
}
</style>
