<script setup>
import axios from 'axios';
import { onMounted } from 'vue';
import CustomButton from '@/views/pages/form-layouts/CustomButton.vue';
import { useRouter } from 'vue-router';
import { useToast } from 'vue-toast-notification';
import 'vue-toast-notification/dist/theme-sugar.css';
import { useGlobalStore } from '../../../store';

const router = useRouter();
const toast = useToast();
const store = useGlobalStore()
const headers = {
    'Authorization': `Bearer ${store.auth.token}`
};
const csrfToken = document.querySelector('meta[name="csrf-token"]').content;
const fileInput = ref(null);
let dataLoaded = ref(false);
let hashtagId = ref(null);
let hashtagName = ref(null);

onMounted(async () => {
    hashtagId.value = router.currentRoute.value.params.id
    try {
        const response = await axios.get(`/api/hashtag/${hashtagId.value}`, {
            headers
        });

        if (response.status === 200) {
            dataLoaded.value = true
            hashtagName.value = response.data.data.name
        } else {
        }


    } catch (error) {
        console.error('API request error:', error);
    }
});

const cancelAction = () => {
    router.go(-1);
};

const updateHashtag = async () => {
    const data = {
        name: hashtagName.value
    }
    try {
        const response = await axios.put(`/api/hashtag/${hashtagId.value}`,
            data,
            {
                'headers': {
                    'Authorization': `Bearer ${store.auth.token}`,
                },
            },
        );


        if (response.data) {
            toast.success('Update Admin Successfully!',
                {
                    position: 'top'
                }
            );
            router.push('/hashtags');
        } else {
        }
    } catch (error) {
        toast.error('Update Admin Has Fail!',
            {
                position: 'top'
            }
        );
    }
};

const handleInput = () => {
    const words = hashtagName.value.split(' ');
    const result = words.map(word => (word.startsWith('#') ? word : `#${word}`));
    hashtagName.value = result.join(' ');
};

</script>

<template>
    <v-container v-if="dataLoaded">
        <div style="padding-left: 20px;">
            <VTable>
                <v-responsive max-width="344">
                    <v-text-field v-model="hashtagName" clearable hide-details="auto" label="Hashtag" @input="handleInput">
                    </v-text-field>
                </v-responsive>
                <br>
            </VTable>
            <VCol cols="12" md="12">
                <VRow>
                    <CustomButton @submit="cancelAction" buttonText="Cancel" buttonColor="secondary" />
                    <CustomButton @submit="updateHashtag" buttonText="Save Changes" />
                </VRow>
            </VCol>
            <br>
        </div>
    </v-container>
</template>

<style scoped></style>
