<script setup>
import axios from 'axios';
import { ref, onMounted } from 'vue';
import CustomButton from '@/views/pages/form-layouts/CustomButton.vue';
import { useRouter } from 'vue-router';
import { useToast } from 'vue-toast-notification';
import 'vue-toast-notification/dist/theme-sugar.css';
import { format } from 'date-fns';

const router = useRouter();
const toast = useToast();
let hashtags = ref([]);
let dataLoaded = ref(false);
let dialog = ref(false);
let selectedHashtag = ref(null);

onMounted(async () => {
    getHashtag()
});

const getHashtag = async () => {
    try {
        const response = await axios.get('/api/hashtag');

        if (response.status === 200) {
            hashtags.value = response.data.data;
            dataLoaded.value = true
        } else {
        }
    } catch (error) {
        console.error('API request error:', error);
    }
}

const redirectCreate = () => {
    router.push('/hashtag/create');
}

const editHashtag = (roleId) => {
    router.push(`/hashtag/update/${roleId}`);
}

const deleteHashtag = (roleId) => {
    dialog.value = true;
    selectedHashtag.value = roleId;
}

const confirmDeleteHashtag = async () => {
    try {
        if (selectedHashtag.value) {
            const response = await axios.delete(`/api/hashtag/${selectedHashtag.value}`);

            if (response.status === 200) {
                toast.success('Delete Role Successfully!',
                    {
                        position: 'top'
                    }
                );

                const indexToRemove = hashtags.value.findIndex(role => role.id === selectedHashtag.value);
                hashtags.value.splice(indexToRemove, 1);
                console.log('>>>hashtags delete', hashtags);
            } else {
                console.error('Error deleting role:', response);
            }
        }
    } catch (error) {
        console.error('API request error:', error);
    } finally {
        selectedHashtag.value = null;
        dialog.value = false;
    }
};

</script>

<template>
    <VCol cols="12" md="12">
        <CustomButton @submit="redirectCreate" buttonText="Create Hashtag" />
    </VCol>
    <VTable v-if="dataLoaded">
        <thead>
            <tr>
                <th>
                    Created At
                </th>
                <th class="text-uppercase">
                    Name
                </th>
                <th>
                    Action
                </th>
            </tr>
        </thead>

        <tbody>
            <tr v-for="item in hashtags" :key="item.id">
                <td>
                    {{ item.created_at ? format(new Date(item.created_at), 'H:mm:ss yyyy-MM-dd') : 'N/A' }}
                </td>
                <td class="text-center">
                    {{ item.name }}
                </td>
                <td class="text-center">
                    <VIcon size="30" :icon="'bx-message-square-edit'" class="nav-item-icon" @click="editHashtag(item.id)" />
                    <VIcon size="30" :icon="'bx-message-square-x'" class="nav-item-icon" @click="deleteHashtag(item.id)" />
                </td>
            </tr>
        </tbody>
        <br>
    </VTable>

    <!-- Dialog template -->
    <v-row justify="center">
        <v-dialog v-model="dialog" persistent width="auto">
            <template v-slot:activator="{ props }">
            </template>
            <v-card>
                <v-card-title class="text-h5">
                    Are you sure?
                </v-card-title>
                <v-card-text>This record and it's details will be permanantly deleted!</v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="green-darken-1" variant="text" @click="dialog = false">
                        Disagree
                    </v-btn>
                    <v-btn color="green-darken-1" variant="text" @click="confirmDeleteHashtag">
                        Agree
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-row>
</template>

<style scoped>
.nav-item-icon:hover {
    color: #007bff;
    cursor: pointer;
}
</style>