<script setup>
import axios from 'axios';
import { onMounted } from 'vue';
import CustomButton from '@/views/pages/form-layouts/CustomButton.vue';
import { useRouter } from 'vue-router';
import { useToast } from 'vue-toast-notification';
import 'vue-toast-notification/dist/theme-sugar.css';

const router = useRouter();
const toast = useToast();

let hashtags = ref([]);

onMounted(async () => {

});

const createHashtag = async () => {
    try {
        const response = await axios.post('/api/hashtag', {
            hashtag: hashtags.value,
        });

        if (response.status === 200) {
            toast.success('Create Hashtag Successfully!',
                {
                    position: 'top'
                }
            );
            router.push('/hashtags');
        } else {
        }
    } catch (error) {
        toast.error('Create Hashtag Has Fail!',
            {
                position: 'top'
            }
        );
    }
};

const handleInput = () => {
    const words = hashtags.value.split(' ');
    const result = words.map(word => (word.startsWith('#') ? word : `#${word}`));
    hashtags.value = result.join(' ');
};

const cancelAction = () => {
    router.go(-1);
};
</script>

<template>
    <div style="padding-left: 20px;">
        <VTable>
            <v-responsive max-width="344">
                <v-text-field v-model="hashtags" clearable hide-details="auto" label="Hashtag"
                    placeholder="Ex: funny travel..." @input="handleInput">
                </v-text-field>
            </v-responsive>
            <br>
        </VTable>
        <VCol cols="12" md="12">
            <VRow>
                <CustomButton @submit="cancelAction" buttonText="Cancel" buttonColor="secondary" />
                <CustomButton @submit="createHashtag" buttonText="Save Changes" />
            </VRow>
        </VCol>
        <br>
    </div>
</template>

<style></style>
