<script setup>
import axios from 'axios';
import { ref, onMounted } from 'vue';
import CustomButton from '@/views/pages/form-layouts/CustomButton.vue';
import { useRouter } from 'vue-router';
import { useToast } from 'vue-toast-notification';
import 'vue-toast-notification/dist/theme-sugar.css';
import { useGlobalStore } from '../../../store';
import { format } from 'date-fns';

const router = useRouter();
const toast = useToast();
const store = useGlobalStore()
let users = ref([]);
let isVideos = ref(false);
let isUsers = ref(false);
let selectedUserId = ref(null);
let pagination = ref([]);
let dataVideos = ref([]);
let dataUsers = ref([]);
let pageNumber = ref(1);
let methodPaginate = ref(null);
let selectedItem = ref(null);
const headers = {
    'Authorization': `Bearer ${store.auth.token}`
};
const reportList = [
    'Top Videos',
    'User',
]

onMounted(async () => {
    if (reportList.length > 0) {
        selectedItem.value = reportList[0];
    }

    getTopVideos()
});

const getTopUsers = async () => {
    try {
        const response = await axios.get('/api/user/top', {
            params: {
                page: pageNumber.value
            },
            headers: {
                Authorization: `Bearer ${store.auth.token}`
            }
        });

        console.log('oooooooooooooooooo',response.data.data )
        if (response.status === 200) {
            dataUsers.value = response.data.data
            isVideos.value = false
            isUsers.value = true
            pagination.value = response.data.meta.pagination
            methodPaginate.value = 'user'
        } else {
        }
    } catch (error) {
        console.error('API request error:', error);
    }
}

const getTopVideos = async () => {
    try {
        const response = await axios.get('/api/video/top', {
            params: {
                page: pageNumber.value
            },
            headers: {
                Authorization: `Bearer ${store.auth.token}`
            }
        });

        if (response.status === 200) {
            dataVideos.value = response.data.data
            isVideos.value = true
            isUsers.value = false
            pagination.value = response.data.meta.pagination
            methodPaginate.value = 'video'
        } else {
        }
    } catch (error) {
        console.error('API request error:', error);
    }
}

const getMethodPaginate = () => {
    if (methodPaginate.value === 'video') {
        getTopVideos()
    }

    if (methodPaginate.value === 'user') {
        getTopUsers()
    }
}

const testClick = () => {
    // Get Top Videos
    if (selectedItem.value == reportList[0]) {
        getTopVideos()
    }

    // Get Top User
    if (selectedItem.value == reportList[1]) {
        console.log('ccccccccccc')
        getTopUsers()
    }
}

</script>

<template>
    <v-container fluid>
        <v-row>
            <v-col cols="5">
                <v-combobox v-model="selectedItem" :items="reportList" hide-selected @input="testClick">
                </v-combobox>
            </v-col>
            <v-col class="d-flex">
                <v-btn @click="testClick">
                    View
                </v-btn>
            </v-col>
        </v-row>
    </v-container>

    <!-- Videos -->
    <VTable v-if="isVideos">
        <thead>
            <tr>
                <th>
                    User Name
                </th>
                <th>
                    Created At
                </th>
                <th>
                    title
                </th>
                <th>
                    Total Like
                </th>
                <th>
                    Status
                </th>
            </tr>
        </thead>

        <tbody>
            <tr v-for="item in dataVideos" :key="item.video.id">
                <td class="text-center">
                    {{ item.author.user_name ?? 'N/A' }}
                </td>
                <td class="text-center">
                    <!-- {{ item.video.created_at ?? 'N/A' }} -->
                    {{ item.video.created_at ? format(new Date(item.video.created_at), 'H:mm:ss yyyy-MM-dd') : 'N/A' }}
                </td>
                <td class="text-center">
                    {{ item.video.title ?? 'N/A' }}
                </td>
                <td class="text-center">
                    {{ item.video.total_like ?? 'N/A' }}
                </td>
                <td class="text-center">
                    <v-btn-toggle v-model="item.video.status" @click="updateStatus(item.video.id, item.video.status)">
                        <v-btn :value=1 color="#4CAF50">Public</v-btn>
                        <v-btn :value=2 color="#FF5733">Private</v-btn>
                    </v-btn-toggle>
                </td>
            </tr>
        </tbody>
        <br>
    </VTable>

    <!-- Users -->
    <VTable v-if="isUsers">
        <thead>
            <tr>
                <th>
                    User Name
                </th>
                <th>
                    Email
                </th>
                <th>
                    Socialite Type
                </th>
                <th>
                    Is Live
                </th>
                <th>
                    Status
                </th>
                <th>
                    Total Likes
                </th>
                <th>
                    Total Videos
                </th>
            </tr>
        </thead>

        <tbody>
            <tr v-for="item in dataUsers" :key="item.id">
                <td class="text-center">
                    {{ item.user_name ?? 'N/A' }}
                </td>
                <td class="text-center">
                    {{ item.email ?? 'N/A' }}
                </td>
                <td class="text-center">
                    {{ item.socialite_type ?? 'N/A' }}
                </td>
                <td class="text-center">
                    {{ item.is_live ? 'Yes' : 'No' }}
                </td>
                <td class="text-center">
                    <v-btn-toggle v-model="item.status" @click="updateStatus(item.id, item.status)">
                        <v-btn :value="true" color="#4CAF50">Active</v-btn>
                        <v-btn :value="false" color="#FF5733">Inactive</v-btn>
                    </v-btn-toggle>
                </td>
                <td class="text-center">
                    {{ item.likes_count }}
                </td>
                <td class="text-center">
                    {{ item.videos_count }}
                </td>
            </tr>
        </tbody>
        <br>
    </VTable>

    <!-- Pagination -->
    <div class="text-center">
        <v-container>
            <v-row justify="center">
                <v-col cols="8">
                    <v-container class="max-width">
                        <v-pagination v-model="pageNumber" @update:modelValue="getMethodPaginate" class="my-4"
                            :length="pagination.total_pages">
                        </v-pagination>
                    </v-container>
                </v-col>
            </v-row>
        </v-container>
    </div>
</template>

<style scoped>
.nav-item-icon:hover {
    color: #007bff;
    cursor: pointer;
}
</style>