<script setup>
import axios from 'axios';
import { onMounted } from 'vue';
import CustomButton from '@/views/pages/form-layouts/CustomButton.vue';
import { useRouter } from 'vue-router';
import { useToast } from 'vue-toast-notification';
import 'vue-toast-notification/dist/theme-sugar.css';
import { useGlobalStore } from '../../../store';

const router = useRouter();
const toast = useToast();
const store = useGlobalStore()
const headers = {
    'Authorization': `Bearer ${store.auth.token}`
};
const csrfToken = document.querySelector('meta[name="csrf-token"]').content;
const fileInput = ref(null);
let dataLoaded = ref(false);
let adminId = ref(null);
let avatarUrl = ref(null);
let avatarFile = ref(null);
let adminName = ref(null);
let password = ref(null);
let confirmPassword = ref(null);

onMounted(async () => {
    adminId.value = router.currentRoute.value.params.id
    try {
        const response = await axios.get(`/api/user/admin/${adminId.value}`, {
            headers
        });


        if (response.status === 200) {
            dataLoaded.value = true
            avatarUrl.value = response.data.data.avatar_url
            adminName.value = response.data.data.name
        } else {
        }


    } catch (error) {
        console.error('API request error:', error);
    }
});

const updateAdmin = async () => {
    let formData = new FormData();

    formData.append('name', adminName.value);

    if (avatarFile.value !== null) {
        formData.append('avatar_file', avatarFile.value);
    }

    if (password.value !== null && confirmPassword.value !== null) {
        formData.append('password', password.value);
        formData.append('confirm_password', confirmPassword.value);
    }

    try {
        const response = await axios.post(`/api/user/admin/${adminId.value}`,
            formData,
            {
                'headers': {
                    'Content-Type': 'multipart/form-data',
                    'Authorization': `Bearer ${store.auth.token}`,
                    'X-CSRF-TOKEN': csrfToken,
                },
                params: {
                    _method: "put",
                },
            },
        );

        if (response.data) {
            toast.success('Update Admin Successfully!',
                {
                    position: 'top'
                }
            );
            router.push('/users-admin');
        } else {
            console.log('>>>cc:', response);
        }
    } catch (error) {
        toast.error('Update Admin Has Fail!',
            {
                position: 'top'
            }
        );
    }
};

const cancelAction = () => {
    router.go(-1);
};

const handleFileChange = (event) => {
    const allowedImageTypes = ['image/jpeg', 'image/png', 'image/gif'];
    const selectedFile = event.target.files[0];

    if (selectedFile && allowedImageTypes.includes(selectedFile.type)) {
        avatarFile.value = selectedFile
    } else {
        toast.error('Please selected an image!',
            {
                position: 'top'
            }
        );
        fileInput.value.reset();
    }
};

</script>

<template>
    <v-container v-if="dataLoaded">
        <VForm @submit.prevent>
            <v-row>
                <v-col cols="2">
                    <v-avatar size="100">
                        <img :src="avatarUrl" alt="Avatar">
                    </v-avatar>
                </v-col>
                <v-col cols="6" class="d-flex align-center justify-center">
                    <v-file-input ref="fileInput" @change="handleFileChange" label="Change Avatar" variant="filled"
                        prepend-icon="mdi-camera"></v-file-input>
                </v-col>
            </v-row>
            <br>
            <br>
            <v-row>
                <v-col cols="6">
                    <v-text-field prepend-inner-icon="bx-user" v-model="adminName" label="Name" outlined></v-text-field>
                </v-col>
            </v-row>

            <v-row>
                <v-col cols="6">
                    <v-text-field prepend-inner-icon="bx-lock" v-model="password" label="Password" type="password"
                        outlined></v-text-field>
                </v-col>
                <v-col cols="6">
                    <v-text-field prepend-inner-icon="bx-lock" v-model="confirmPassword" label="Confirm Password"
                        type="password" outlined></v-text-field>
                </v-col>
            </v-row>
            <br>
            <VCol cols="12" md="12">
                <VRow class="d-flex justify-end">
                    <CustomButton @submit="cancelAction" buttonText="Cancel" buttonColor="secondary" />
                    <CustomButton @submit="updateAdmin" buttonText="Save Changes" />
                </VRow>
            </VCol>
        </VForm>
    </v-container>
</template>

<style scoped></style>
