<script setup>
import axios from 'axios';
import { ref, onMounted } from 'vue';
import CustomButton from '@/views/pages/form-layouts/CustomButton.vue';
import { useRouter } from 'vue-router';
import { useToast } from 'vue-toast-notification';
import 'vue-toast-notification/dist/theme-sugar.css';
import { useGlobalStore } from '../../../store';

const router = useRouter();
const toast = useToast();
const store = useGlobalStore()
let users = ref([]);
let dataLoaded = ref(false);
let dialog = ref(false);
let selectedUserId = ref(null);
let pagination = ref([]);
let pageNumber = ref(1);
let searchName = ref();
const headers = {
    'Authorization': `Bearer ${store.auth.token}`
};

onMounted(async () => {
    getUsers()
});

const getUsers = async () => {
    try {
        const response = await axios.get('/api/user/admin', {
            params: {
                page: pageNumber.value
            },
            headers: {
                Authorization: `Bearer ${store.auth.token}`
            }
        });

        if (response.status === 200) {
            users.value = response.data.data
            dataLoaded.value = true
            pagination.value = response.data.meta.pagination
        } else {
        }
    } catch (error) {
        console.error('API request error:', error);
    }
}

const deleteUser = (userId) => {
    dialog.value = true;
    selectedUserId.value = userId;
}

const confirmDeleteUser = async () => {
    try {
        if (selectedUserId.value) {
            const response = await axios.delete(`/api/user/${selectedUserId.value}`, {
                headers
            })

            if (response.status === 200) {
                toast.success('Delete User Successfully!',
                    {
                        position: 'top'
                    }
                );

                const indexToRemove = users.value.findIndex(role => role.id === selectedUserId.value);
                users.value.splice(indexToRemove, 1);
            } else {
                console.error('Error deleting role:', response);
            }
        }
    } catch (error) {
        console.error('API request error:', error);
    } finally {
        selectedUserId.value = null;
        dialog.value = false;
    }
};

const searchUser = async () => {
    try {
        if (!searchName.value) {
            pageNumber.value = 1;
            getUsers();
        } else {
            const response = await axios.get('/api/user/admin', {
                params: {
                    keyword: searchName.value
                },
                headers
            });

            if (response.status === 200) {
                users.value = response.data.data;
                dataLoaded.value = true;
                pagination.value = response.data.meta.pagination;
                pageNumber.value = pagination.value.current_page;
            } else {
            }
        }
    } catch (error) {
        console.error('API search user error:', error);
        toast.error(error.response.statusText,
            {
                position: 'top'
            }
        );
    }
};

const editAdmin = (roleId) => {
    router.push(`/user-admin/update/${roleId}`);
}

</script>

<template>
    <VCol cols="12" md="12">
        <v-row align="center">
            <v-col cols="6">
                <v-text-field v-model="searchName" label="Search User" placeholder="Search by user name or name"
                    @keyup.enter="searchUser"></v-text-field>
            </v-col>
        </v-row>
    </VCol>
    <VTable v-if="dataLoaded">
        <thead>
            <tr>
                <th>
                    Email
                </th>
                <th class="text-center">
                    Name
                </th>
                <!-- <th>
                    Status
                </th> -->
                <th class="text-center">
                    Action
                </th>
            </tr>
        </thead>

        <tbody>
            <tr v-for="item in users" :key="item.id">
                <td>
                    {{ item.email ?? 'N/A' }}
                </td>
                <td class="text-center">
                    {{ item.name ?? 'N/A' }}
                </td>
                <td class="text-center">
                    <VIcon size="30" :icon="'bx-message-square-edit'" class="nav-item-icon" @click="editAdmin(item.id)" />
                    <!-- <VIcon size="30" :icon="'bx-message-square-x'" class="nav-item-icon" @click="deleteUser(item.id)" /> -->
                </td>
            </tr>
        </tbody>
        <br>
    </VTable>

    <!-- Pagination -->
    <div class="text-center">
        <v-container>
            <v-row justify="center">
                <v-col cols="8">
                    <v-container class="max-width">
                        <v-pagination v-model="pageNumber" @update:modelValue="getUsers" class="my-4"
                            :length="pagination.total_pages">
                        </v-pagination>
                    </v-container>
                </v-col>
            </v-row>
        </v-container>
    </div>


    <!-- Dialog template -->
    <v-row justify="center">
        <v-dialog v-model="dialog" persistent width="auto">
            <template v-slot:activator="{ props }">
            </template>
            <v-card>
                <v-card-title class="text-h5">
                    Are you sure?
                </v-card-title>
                <v-card-text>This record and it's details will be permanantly deleted!</v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="green-darken-1" variant="text" @click="dialog = false">
                        Disagree
                    </v-btn>
                    <v-btn color="green-darken-1" variant="text" @click="(confirmDeleteUser(userId))">
                        Agree
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-row>
</template>

<style scoped>
.nav-item-icon:hover {
    color: #007bff;
    cursor: pointer;
}
</style>