<script setup>
import axios from 'axios';
import { onMounted } from 'vue';
import CustomButton from '@/views/pages/form-layouts/CustomButton.vue';
import { useRouter } from 'vue-router';
import { useToast } from 'vue-toast-notification';
import 'vue-toast-notification/dist/theme-sugar.css';

const router = useRouter();
const toast = useToast();
let dataLoaded = ref(false);
let permissionId = ref(null);
let permission = ref(null);
let permissionName = ref([]);

onMounted(async () => {
    permissionId.value = router.currentRoute.value.params.id
    try {
        const permissionResponse = await axios.get(`/api/user/permissions/${permissionId.value}`);

        console.log('>>>permissionResponse', permissionResponse.value)

        if (permissionResponse.status === 200) {
            permission.value = permissionResponse.data.data;
            permissionName.value = permission.value.name
            dataLoaded.value = true
        } else {
        }


    } catch (error) {
        console.error('API request error:', error);
    }
});

const updatePermission = async () => {
    try {
        const response = await axios.put(`/api/user/permissions/${permissionId.value}`, {
            name: permissionName.value,
        });

        if (response.status === 200) {
            toast.success('Update Permission Successfully!',
                {
                    position: 'top'
                }
            );
            router.push('/user-permissions');
        } else {
            console.log('>>>cc:', response);
        }
    } catch (error) {
        toast.error('Update Permission Has Fail!',
            {
                position: 'top'
            }
        );
    }
};

const cancelAction = () => {
    router.go(-1);
};

</script>

<template>
    <div style="padding-left: 20px;">
        <VTable v-if="dataLoaded">
            <v-responsive max-width="344">
                <v-text-field v-model="permissionName" clearable hide-details="auto" label=""></v-text-field>
            </v-responsive>
            <br>
        </VTable>
        <br>
        <VCol cols="12" md="12">
            <VRow>
                <CustomButton @submit="cancelAction" buttonText="Cancel" buttonColor="secondary" />
                <CustomButton @submit="updatePermission" buttonText="Save Changes" />
            </VRow>
        </VCol>
        <br>
    </div>
</template>

<style>
.selected-chip {
    background-color: #4CAF50 !important;
    color: #ffffff !important;
}
</style>
