<script setup>
import axios from 'axios';
import { onMounted } from 'vue';
import CustomButton from '@/views/pages/form-layouts/CustomButton.vue';
import { useRouter } from 'vue-router';
import { useToast } from 'vue-toast-notification';
import 'vue-toast-notification/dist/theme-sugar.css';

const router = useRouter();
const toast = useToast();

let permissions = ref([]);
let dataLoaded = ref(false);
let selectedPermissions = ref([]);
let roleHasPermission = ref([]);
let roleId = ref(null);
let role = ref(null);
let roleName = ref([]);

onMounted(async () => {
    roleId.value = router.currentRoute.value.params.id

    try {
        const roleResponse = await axios.get(`/api/user/roles/${roleId.value}`);
        const permissionsResponse = await axios.get('/api/user/permissions');

        if (roleResponse.status === 200 && permissionsResponse.status === 200) {
            role.value = roleResponse.data.data;
            roleName.value = role.value.name
            permissions.value = permissionsResponse.data.data
            roleHasPermission.value = roleResponse.data.data.role_has_permission

            roleHasPermission.value.forEach(permission => {
                selectedPermissions.value.push(permission.id);
            });

            console.log('>>>selectedPermissions:', selectedPermissions.value);

            dataLoaded.value = true
        } else {
        }


    } catch (error) {
        console.error('API request error:', error);
    }
});

const createRole = async () => {
    try {
        const response = await axios.put(`/api/user/roles/${roleId.value}`, {
            name: roleName.value,
            permission: selectedPermissions.value,
        });

        if (response.status === 200) {
            toast.success('Update Role Successfully!',
                {
                    position: 'top'
                }
            );
            router.push('/user-roles');
        } else {
            console.log('>>>cc:', response);
        }
    } catch (error) {
        toast.error('Update Role Has Fail!',
            {
                position: 'top'
            }
        );
    }
};

const cancelAction = () => {
    router.go(-1);
};

const togglePermission = (permissionId) => {
    const index = selectedPermissions.value.indexOf(permissionId);
    if (index === -1) {
        selectedPermissions.value.push(permissionId);
    } else {
        selectedPermissions.value.splice(index, 1);
    }
};

const isPermissionSelected = computed(() => {
    return (permissionId) => {
        return selectedPermissions.value.includes(permissionId);
    };
});

</script>

<template>
    <div style="padding-left: 20px;">
        <VTable v-if="dataLoaded">
            <v-responsive max-width="344">
                <v-text-field v-model="roleName" clearable hide-details="auto" label=""></v-text-field>
            </v-responsive>
            <br>
            <span>Selected Permission:</span>
            <br>
            <div style="padding: 10px;">
                <VChip :ripple="false" link v-for="permission in permissions" :key="permission.id"
                    @click="togglePermission(permission.id)"
                    :class="{ 'selected-chip': isPermissionSelected(permission.id) }"
                    class="permission-chip">
                    {{ permission.name }}
                </VChip>
            </div>
        </VTable>
        <br>
        <VCol cols="12" md="12">
            <VRow>
                <CustomButton @submit="cancelAction" buttonText="Cancel" buttonColor="secondary" />
                <CustomButton @submit="createRole" buttonText="Save Changes" />
            </VRow>
        </VCol>
        <br>
    </div>
</template>

<style>
.selected-chip {
    background-color: #4CAF50 !important;
    color: #ffffff !important;
}
.permission-chip {
  margin-right: 8px;
}
</style>
