<script setup>
import axios from 'axios';
import { onMounted } from 'vue';
import CustomButton from '@/views/pages/form-layouts/CustomButton.vue';
import { useRouter } from 'vue-router';
import { useToast } from 'vue-toast-notification';
import 'vue-toast-notification/dist/theme-sugar.css';

const router = useRouter();
const toast = useToast();

let permissions = ref([]);
let dataLoaded = ref(false);
let selectedPermissions = ref([]);
let roleName = ref([]);

onMounted(async () => {
    try {
        const response = await axios.get('/api/user/permissions');

        if (response.status === 200) {
            permissions = response.data.data;
            dataLoaded.value = true
        } else {
        }
    } catch (error) {
        console.error('API request error:', error);
    }
});

const createRole = async () => {
    console.log('>>>Role Name:', selectedPermissions.value);

    try {
        const response = await axios.post('/api/user/roles', {
            name: roleName.value,
            permission: selectedPermissions.value,
        });

        if (response.status === 200) {
            toast.success('Create Role Successfully!',
                {
                    position: 'top'
                }
            );
            router.push('/user-roles');
        } else {
            console.log('>>>cc:', response);
        }
    } catch (error) {
        toast.error('Create Role Has Fail!',
            {
                position: 'top'
            }
        );
    }
};

const cancelAction = () => {
    router.go(-1);
};

const togglePermission = (permissionId) => {
    const index = selectedPermissions.value.indexOf(permissionId);
    if (index === -1) {
        selectedPermissions.value.push(permissionId);
    } else {
        selectedPermissions.value.splice(index, 1);
    }
};

const isPermissionSelected = computed(() => {
    return (permissionId) => {
        return selectedPermissions.value.includes(permissionId);
    };
});

</script>

<template>
    <div style="padding-left: 20px;">
        <VTable v-if="dataLoaded">
            <v-responsive max-width="344">
                <v-text-field v-model="roleName" clearable hide-details="auto" label="Role Name"></v-text-field>
            </v-responsive>
            <br>
            <VChip :ripple="false" link v-for="permission in permissions" :key="permission.id"
                @click="togglePermission(permission.id)" :class="{ 'selected-chip': isPermissionSelected(permission.id) }">
                {{ permission.name }}
            </VChip>
        </VTable>
        <br>
        <VCol cols="12" md="12">
            <VRow>
                <CustomButton @submit="cancelAction" buttonText="Cancel" buttonColor="secondary" />
                <CustomButton @submit="createRole" buttonText="Save Changes" />
            </VRow>
        </VCol>
        <br>
    </div>
</template>

<style>
.selected-chip {
    background-color: #4CAF50 !important;
    color: #ffffff !important;
}
</style>
