<script setup>
import axios from 'axios';
import { onMounted } from 'vue';
import CustomButton from '@/views/pages/form-layouts/CustomButton.vue';
import { useRouter } from 'vue-router';
import { useToast } from 'vue-toast-notification';
import 'vue-toast-notification/dist/theme-sugar.css';

const router = useRouter();
const toast = useToast();

let dataLoaded = ref(false);
let permissionName = ref([]);

onMounted(async () => {

});

const createRole = async () => {
    try {
        const response = await axios.post('/api/user/permissions', {
            name: permissionName.value,
        });

        if (response.status === 200) {
            toast.success('Create Permissions Successfully!',
                {
                    position: 'top'
                }
            );
            router.push('/user-permissions');
        } else {
            console.log('>>>cc:', response);
        }
    } catch (error) {
        toast.error('Create Permissions Has Fail!',
            {
                position: 'top'
            }
        );
    }
};

const cancelAction = () => {
    router.go(-1);
};

</script>

<template>
    <div style="padding-left: 20px;">
        <VTable>
            <v-responsive max-width="344">
                <v-text-field v-model="permissionName" clearable hide-details="auto" label="Permission Name"></v-text-field>
            </v-responsive>
        </VTable>
        <br>
        <VCol cols="12" md="12">
            <VRow>
                <CustomButton @submit="cancelAction" buttonText="Cancel" buttonColor="secondary" />
                <CustomButton @submit="createRole" buttonText="Save Changes" />
            </VRow>
        </VCol>
        <br>
    </div>
</template>

<style>
.selected-chip {
    background-color: #4CAF50 !important;
    color: #ffffff !important;
}
</style>
