<script setup>
import axios from 'axios';
import { ref, onMounted } from 'vue';
import CustomButton from '@/views/pages/form-layouts/CustomButton.vue';
import { useRouter } from 'vue-router';
import { useToast } from 'vue-toast-notification';
import 'vue-toast-notification/dist/theme-sugar.css';

const router = useRouter();
const toast = useToast();
let roles = ref([]);
let dataLoaded = ref(false);
let dialog = ref(false);
let selectedRoleId = ref(null);

onMounted(async () => {
    getRole()
});

const getRole = async () => {
    try {
        const response = await axios.get('/api/user/roles');

        if (response.status === 200) {
            roles.value = response.data.data;
            dataLoaded.value = true
            console.log('>>>refresh', roles)
        } else {
        }
    } catch (error) {
        console.error('API request error:', error);
    }
}

const redirectCreate = () => {
    router.push('/user-roles/create');
}

const editRole = (roleId) => {
    router.push(`/user-roles/update/${roleId}`);
}

const deleteRole = (roleId) => {
    dialog.value = true;
    selectedRoleId.value = roleId;
}

const confirmDeleteRole = async () => {
    try {
        if (selectedRoleId.value) {
            const response = await axios.delete(`/api/user/roles/${selectedRoleId.value}`);

            if (response.status === 200) {
                toast.success('Delete Role Successfully!',
                    {
                        position: 'top'
                    }
                );

                const indexToRemove = roles.value.findIndex(role => role.id === selectedRoleId.value);
                roles.value.splice(indexToRemove, 1);
                console.log('>>>roles delete', roles);
            } else {
                console.error('Error deleting role:', response);
            }
        }
    } catch (error) {
        console.error('API request error:', error);
    } finally {
        selectedRoleId.value = null;
        dialog.value = false;
    }
};

</script>

<template>
    <VCol cols="12" md="12">
        <CustomButton @submit="redirectCreate" buttonText="Create Role" />
    </VCol>
    <VTable v-if="dataLoaded">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th class="text-uppercase">
                    Name
                </th>
                <th>
                    Action
                </th>
            </tr>
        </thead>

        <tbody>
            <tr v-for="item in roles" :key="item.id">
                <td>
                    {{ item.id }}
                </td>
                <td class="text-center">
                    {{ item.name }}
                </td>
                <td class="text-center">
                    <VIcon size="30" :icon="'bx-message-square-edit'" class="nav-item-icon" @click="editRole(item.id)" />
                    <VIcon size="30" :icon="'bx-message-square-x'" class="nav-item-icon" @click="deleteRole(item.id)" />
                </td>
            </tr>
        </tbody>
        <br>
    </VTable>

    <!-- Dialog template -->
    <v-row justify="center">
        <v-dialog v-model="dialog" persistent width="auto">
            <template v-slot:activator="{ props }">
            </template>
            <v-card>
                <v-card-title class="text-h5">
                    Are you sure?
                </v-card-title>
                <v-card-text>This record and it's details will be permanantly deleted!</v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="green-darken-1" variant="text" @click="dialog = false">
                        Disagree
                    </v-btn>
                    <v-btn color="green-darken-1" variant="text" @click="confirmDeleteRole">
                        Agree
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-row>
</template>

<style scoped>
.nav-item-icon:hover {
    color: #007bff;
    cursor: pointer;
}
</style>