<script setup>
import axios from 'axios';
import { ref, onMounted } from 'vue';
import CustomButton from '@/views/pages/form-layouts/CustomButton.vue';
import { useRouter } from 'vue-router';
import { useToast } from 'vue-toast-notification';
import 'vue-toast-notification/dist/theme-sugar.css';
import { useGlobalStore } from '../../../store';
import { format } from 'date-fns';

const router = useRouter();
const toast = useToast();
const store = useGlobalStore()
let videos = ref([]);
let dataLoaded = ref(false);
let dialog = ref(false);
let selectedVideoId = ref(null);
let pagination = ref([]);
let pageNumber = ref(1);
let searchName = ref();
const headers = {
    'Authorization': `Bearer ${store.auth.token}`
};

onMounted(async () => {
    getVideos()
});

const getVideos = async () => {
    try {
        const response = await axios.get('/api/video', {
            params: {
                page: pageNumber.value
            },
            headers: {
                Authorization: `Bearer ${store.auth.token}`
            }
        });

        if (response.status === 200) {
            videos.value = response.data.data
            console.log('>>>ccc', response.data.data)
            dataLoaded.value = true
            pagination.value = response.data.meta.pagination
        } else {
        }
    } catch (error) {
        console.error('API request error:', error);
    }
}

const deleteVideo = (videoId) => {
    dialog.value = true;
    selectedVideoId.value = videoId;
}

const confirmDeleteVideo = async () => {
    try {
        if (selectedVideoId.value) {

            const response = await axios.delete(`/api/video/${selectedVideoId.value}`, {
                headers
            })

            if (response.status === 200) {
                toast.success('Delete Video Successfully!',
                    {
                        position: 'top'
                    }
                );

            const indexToRemove = videos.value.findIndex(video => video.video.id === selectedVideoId.value);

                videos.value.splice(indexToRemove, 1);
            } else {
                console.error('Error deleting role:', response);
            }
        }
    } catch (error) {
        console.error('API request error:', error);
    } finally {
        selectedVideoId.value = null;
        dialog.value = false;
    }
};

const searchVideo = async () => {
    try {
        if (!searchName.value) {
            pageNumber.value = 1;
            getVideos();
        } else {
            const response = await axios.get('/api/video/search', {
                params: {
                    keyword: searchName.value
                },
                headers
            });

            if (response.status === 200) {
                videos.value = response.data.data;
                dataLoaded.value = true;
                pagination.value = response.data.meta.pagination;
                pageNumber.value = pagination.value.current_page;
            } else {
            }
        }
    } catch (error) {
        console.error('API search user error:', error);
        toast.error(error.response.statusText,
            {
                position: 'top'
            }
        );
    }
};

const updateStatus = async (videoId, status) => {
    console.log('>>>>', videoId.value);
    try {
        const response = await axios.post(`/api/video/${videoId}`,
            {
                'status': status
            },
            {
                headers,
                params: {
                    _method: "put",
                },
            },
        );

        if (response.data) {
            toast.success('Update Status Successfully!',
                {
                    position: 'top'
                }
            );
            router.push('/videos');
        } else {
            console.log('>>>cc:', response);
        }
    } catch (error) {
        toast.error('Update Status Has Fail!',
            {
                position: 'top'
            }
        );
    }
}

</script>

<template>
    <VCol cols="12" md="12">
        <v-row align="center">
            <v-col cols="6">
                <v-text-field v-model="searchName" label="Search Video" placeholder="Search by id, title, desciption..."
                    @keyup.enter="searchVideo"></v-text-field>
            </v-col>
        </v-row>
    </VCol>
    <VTable v-if="dataLoaded">
        <thead>
            <tr>
                <th>
                    User Name
                </th>
                <th>
                    Created At
                </th>
                <th>
                    title
                </th>
                <th>
                    Total Like
                </th>
                <th>
                    Status
                </th>
                <th>
                    Action
                </th>
            </tr>
        </thead>

        <tbody>
            <tr v-for="item in videos" :key="item.video.id">
                <td class="text-center">
                    {{ item.author.user_name ?? 'N/A' }}
                </td>
                <td class="text-center">
                    <!-- {{ item.video.created_at ?? 'N/A' }} -->
                    {{ item.video.created_at ? format(new Date(item.video.created_at), 'H:mm:ss yyyy-MM-dd') : 'N/A' }}
                </td>
                <td class="text-center">
                    {{ item.video.title ?? 'N/A' }}
                </td>
                <td class="text-center">
                    {{ item.video.total_like ?? 'N/A' }}
                </td>
                <td class="text-center">
                    <v-btn-toggle v-model="item.video.status" @click="updateStatus(item.video.id, item.video.status)">
                        <v-btn :value=1 color="#4CAF50">Public</v-btn>
                        <v-btn :value=2 color="#FF5733">Private</v-btn>
                    </v-btn-toggle>
                </td>
                <td class="text-center">
                    <!-- <VIcon size="30" :icon="'bx-message-square-edit'" class="nav-item-icon" @click="editRole(item.id)" /> -->
                    <VIcon size="30" :icon="'bx-message-square-x'" class="nav-item-icon" @click="deleteVideo(item.video.id)" />
                </td>
            </tr>
        </tbody>
        <br>
    </VTable>

    <!-- Pagination -->
    <div class="text-center">
        <v-container>
            <v-row justify="center">
                <v-col cols="8">
                    <v-container class="max-width">
                        <v-pagination v-model="pageNumber" @update:modelValue="getVideos" class="my-4"
                            :length="pagination.total_pages">
                        </v-pagination>
                    </v-container>
                </v-col>
            </v-row>
        </v-container>
    </div>


    <!-- Dialog template -->
    <v-row justify="center">
        <v-dialog v-model="dialog" persistent width="auto">
            <template v-slot:activator="{ props }">
            </template>
            <v-card>
                <v-card-title class="text-h5">
                    Are you sure?
                </v-card-title>
                <v-card-text>This record and it's details will be permanantly deleted!</v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="green-darken-1" variant="text" @click="dialog = false">
                        Disagree
                    </v-btn>
                    <v-btn color="green-darken-1" variant="text" @click="(confirmDeleteVideo(videoId))">
                        Agree
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-row>
</template>

<style scoped>
.nav-item-icon:hover {
    color: #007bff;
    cursor: pointer;
}
</style>